* {
    text-align: center;
}

.fart {
    text-align: center
}

img {
    text-align: center
}

h1 span{
    background-color: rgb(250,100,20)
}

p span{
    background-color:rgb(250,150,20,10)
}

p span{
    text-size-adjust: 500px
}

ul {
    text-align: left
}

li {
    text-align: left
}