* {
    text-align: center;
    box-sizing: border-box;
}

.fart {
    text-align: center
}

img {
    text-align: center
}

h1 span{
    background-color: rgb(250,100,20);
    padding: 10px;
    margin: 10px;
    text-align: center;
}

h1 {
    margin: 10px;
    font-size:5vw;
}

h2 span{
    background-color: orange;
    padding: 10px;
    margin 10px;
    text-align: center;
    font-size:3vw;
}

h2 {
    padding: 10px;
    margin: 10px;
}

h3 span{
    background-color: orange;
}

h3 {
    padding: 10px;
}

p span{
    background-color:rgb(250,150,20,10)
}

p span{
    text-size-adjust: 500px
}

ul {
    text-align: left
}

li {
    text-align: left
}

.linksbox {
    display: flex;
    border: 2px solid black;
    margin: auto;
    padding: 20px;
    background-color: green
}

.links {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    margin: auto;
    background-color: beige;
}

.links:hover {
    background-image: url("tiedye.jpeg");
    color: white;
    font-weight: 900;
    .url {
        color: white;
        text-shadow: black 1px 0 10px;
    }
}

body {
    background-color: darkslategrey;
}

.url {
    color: black;
}

.url:hover {
    color: white;
    text-shadow: black 1px 0 20px;
}

.gandalf {
    box-shadow: 4px 4px 8px black;
    margin: 10px
}

.superdiv {
    border: solid 2px;
    margin: auto;
    padding: 20px;
    background-image: url("fanghorn.jpeg");
    box-shadow: 1px 1px 4px black;
    display: inline-block
}

.div2 {
    border: solid 2px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    display: flex;
    position: fixed;
    bottom: 10%;
    right: 3%;
    right: 10px;
    width: 100px;
    height: 100px;
    clip-path:circle(25%);
    transition: all 2s ease;
 }


 .div2:hover {
    clip-path: circle(45%);
 }

 .div2 a {
    margin: auto;
    top:2px;
    position: relative;
 }

 .bitcoin {
    margin: auto;
 }